<h1> Transctions by Cashier</h1>
<div>
<select (change)="getTransByCashier($event)" #list>
    <option value="">--Select cashier--</option>
    <option *ngFor="let cash of cashiers" value={{cash}}>
        {{cash}}
    </option>
</select>
</div>

<div>
  <table>
    <thead>
        <th>Date/Time</th>
        <th>Producr Cost</th>
        <th>Paid Amount</th>
        <th>Change Amount</th>
    </thead>
    <tbody>
        <tr *ngFor="let t of trans">
            <td>{{t["date"]}}</td>
            <td>{{t.product_cost}}</td>
            <td>{{t.paid_amount}}</td>
            <td>{{t.remain_amount}}</td>
           
          </tr>
    </tbody>
 </table>
</div>