<h1>Transctions</h1>
<form (submit)="findChange($event)">
 <input type="text" placeholder="Enter Cost" id="cost" #cost> <br>
 <input type="text" placeholder="Enter paid amount" id="paid" #paid> <br><br>
 <button type="button" (click)="calculateChange($event,cost,paid,remain)">Calculate change</button><br>
 <input type="text" placeholder="Change amount" id="remain" #remain><br><br>
 <input type="submit" value="Save Transction">
</form>

