.hometitle{
    padding-left: 40%;
    font-size: 2.4rem;
}

.btn{
    height: 30%;
    width: 200%;
    font-stretch: expanded;
    font-size: 1.4rem;
    font-weight: bold;
}

.admincls{
    padding-top:10%;
     margin-left: 20;
}

.divbtn{
    /* border: solid black 2px; */
    width: 200px;
    height: 200px;
    margin-left:35%;
    margin-top: 5%;
}
