<div>
<h1 class='hometitle'> PoS Cashier System</h1>
<!-- <a routerLink='/admin' class="admincls">Admin Page</a>  -->
</div>
<br> <br>

<div class="divbtn">
<a routerLink='/login'><button class="btn">Login as a cashier</button> </a>

<br> <br> <br>
<a routerLink='/trans-show'><button class="btn"> Show Transctions by cashier</button> </a>
</div>