<form (submit)="loginUser($event)" class="frm">
     <h1 class="logintitle">Cashier Login</h1>
      <input type="text" placeholder="enter email" id="email" class="txtemail">
      <input type="submit" value='submit' class="submitemail" class="btn">

</form>